<div class="login">
  <div class="wrapper">
    <h2 class="text-primary">Halan</h2>
    <div class="formContent">
      <form [formGroup]="loginForm" (ngSubmit)="onUserLogin()">
        <input
          type="text"
          id="login"
          placeholder="Username"
          formControlName="username"
        />
        <div class="position-relative">
          <input
            type="password"
            id="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <i
            (click)="hide = !hide"
            class="fas fa-eye input__icon"
            id="togglePassword"
          ></i>
        </div>
        <button type="submit" class="btn btn-primary" *ngIf="!isLoading">
          Login
        </button>
        <div class="w-100 text-center" *ngIf="isLoading">
          <div class="spinner-border text-primary" role="status"></div>
        </div>
      </form>
    </div>
  </div>
</div>
