<div class="container">
  <h1>Area Selecting</h1>

  <agm-map
    [zoom]="8"
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)"
  >
    <agm-marker
      *ngFor="let marker of pointList"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [markerClickable]="true"
    >
    </agm-marker>
  </agm-map>
  <!-- <div *ngIf="pointList.length > 0" class="display-flex">
    <button class="btn btn-primary" (click)="deleteSelectedShape()">
      Clear
    </button>
  </div>
  <div class="card" *ngIf="selectedArea > 0">
    <span> Selected Area: {{ selectedArea.toPrecision(5) }}m<sup>2</sup> </span>
  </div> -->
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Area Info</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="areaForm" (ngSubmit)="onAddMapInfo()">
      <div class="form-group">
        <label for="area_name">Area Name</label>
        <input
          [class]="{
            'is-invalid': areaFormControls.lable.errors
          }"
          class="form-control"
          type="text"
          formControlName="lable"
          id="area_name"
        />
      </div>
      <div class="form-group">
        <label for="area_color">Area Color</label>
        <input
          [class]="{
            'is-invalid': areaFormControls.color.errors
          }"
          class="form-control"
          type="color"
          formControlName="color"
          name=""
          id="area_color"
          (change)="updateColor($event)"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="onAddMapInfo()"
    >
      Add
    </button>
  </div>
</ng-template>
