<div class="container">
  <h1>Area Selecting</h1>
  <i class="fas fa-arrow-circle-down text-primary">
    Map Control:for start and stop drawing
  </i>
  <agm-map
    [zoom]="8"
    [latitude]="lat"
    [longitude]="lng"
    (mapReady)="onMapReady($event)"
  >
    <agm-marker
      *ngFor="let marker of pointList"
      [latitude]="marker.lat"
      [longitude]="marker.lng"
      [markerClickable]="true"
    >
    </agm-marker>
    <div *ngFor="let areas of polygons">
      <agm-polygon
        [paths]="path"
        [fillColor]="areas.color"
        fillOpacity=".35"
        [strokeColor]="areas.color"
        [clickable]="true"
        [editable]="true"
        (polyClick)="onPolyClick(updatecontent, areas)"
        *ngFor="let path of areas.points"
      >
      </agm-polygon>
    </div>
  </agm-map>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Area Info</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="d('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="areaForm" (ngSubmit)="onAddMapInfo()">
      <div class="form-group">
        <label for="area_name">Area Name</label>
        <input
          [class]="{
            'is-invalid': areaFormControls.lable.errors
          }"
          class="form-control"
          type="text"
          formControlName="lable"
          id="area_name"
        />
      </div>
      <div class="form-group">
        <label for="area_color">Area Color</label>
        <input
          [class]="{
            'is-invalid': areaFormControls.color.errors
          }"
          class="form-control"
          type="color"
          formControlName="color"
          name=""
          id="area_color"
          (change)="updateColor($event)"
        />
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="onAddMapInfo()"
    >
      Add
    </button>
  </div>
</ng-template>
<ng-template #updatecontent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Area Modification</h4>
  </div>
  <div class="modal-body">
    <ul ngbNav #nav="ngbNav" class="nav-tabs row">
      <li ngbNavItem class="col-6">
        <a ngbNavLink class="btn btn-primary">Update</a>
        <ng-template ngbNavContent class="mt-3">
          <form [formGroup]="areaForm" (ngSubmit)="onAddMapInfo()">
            <div class="form-group">
              <label for="area_name">Area Name</label>
              <input
                [class]="{
                  'is-invalid': areaFormControls.lable.errors
                }"
                class="form-control"
                type="text"
                formControlName="lable"
                id="area_name"
              />
            </div>
            <div class="form-group">
              <label for="area_color">Area Color</label>
              <input
                [class]="{
                  'is-invalid': areaFormControls.color.errors
                }"
                class="form-control"
                type="color"
                formControlName="color"
                name=""
                id="area_color"
                (change)="updateColor($event)"
              />
            </div>
            <button
              type="button"
              class="btn btn-outline-success"
              (click)="onAddMapInfo()"
            >
              Update
            </button>
          </form></ng-template
        >
      </li>
      <li ngbNavItem class="col-6">
        <a ngbNavLink class="btn btn-danger">Remove</a>
        <ng-template ngbNavContent class="mt-3">
          <div>
            <h2 class="text-danger strong">Are You Sure !!</h2>
            <button class="mt-2 btn btn-danger" (click)="deleteSelectedShape()">
              Delete
            </button>
          </div></ng-template
        >
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
  </div>
</ng-template>
